<div class="app-header">
  <!--    Left-->
  <div class="flex items-center justify-between gap-20">
    <!--    Breakcrumb-->
    <div class="mt-1">
      <app-bread-crumb [setBreadCrumbs]="breadCrumb"></app-bread-crumb>
      <label>{{title}}</label>
    </div>
    <!--    Icon menu-->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!--    Right-->
  <div class="flex items-center justify-center gap-4">
    <input placeholder="Search here" />
    <mat-icon>account_circle</mat-icon>
    <mat-icon>settings</mat-icon>
    <mat-icon [matBadge]="'1'">notifications</mat-icon>
  </div>
</div>
